<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2019 Kolibree. All rights reserved
  ~
  ~ Copying this file via any medium without the prior written consent of Kolibree is strictly
  ~ prohibited
  ~
  ~ Proprietary and confidential
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kolibree.android.angleandspeed">

  <application>
    <activity
      android:name=".testangles.mvi.TestAnglesActivity"
      android:screenOrientation="portrait"
      android:theme="@style/KolibreeNoActionBarTheme" />

    <activity
      android:name=".speedcontrol.mvi.SpeedControlActivity"
      android:screenOrientation="portrait"
      android:theme="@style/KolibreeNoActionBarTheme" />
  </application>

</manifest>
