<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020 Kolibree. All rights reserved
  ~
  ~ Copying this file via any medium without the prior written consent of Kolibree is strictly
  ~ prohibited
  ~
  ~ Proprietary and confidential
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kolibree.android.hum.questionoftheday"><!-- Keep hum to avoid breaking room database-->

  <application>

    <activity
      android:name="com.kolibree.android.questionoftheday.ui.QuestionOfTheDayActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Inverse.Red" />

  </application>

</manifest>
