<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kolibree.sdkws">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!--required by JobService-->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application>

    <service
      android:name=".core.avro.AvroUploaderJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".core.SynchronizerJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>
</manifest>
