
angle_files/
angle_files_enc/

transition_files/
transition_files_enc/

weight_files/
weight_files_enc/

thresholds_files/
thresholds_files_end/

other_files/
other_files_end/

src/androidTest/res/raw/angle_encryption_key.txt
src/androidTest/res/raw/other_encryption_key.txt
src/androidTest/res/raw/transition_encryption_key.txt
src/androidTest/res/raw/treshold_encryption_key.txt
src/androidTest/res/raw/weight_encryption_key.txt
