<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kolibree">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- Temp fix for https://github.com/facebook/screenshot-tests-for-android/issues/162 -->
  <application
    android:requestLegacyExternalStorage="true" />

</manifest>
